<form [formGroup]="form" (ngSubmit)="saveProduct($event)">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Edit Employee</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName="lastname" matInput type="text" placeholder="add lastname">
                    </mat-form-field>
                    <div *ngIf="lastname!.invalid && (lastname!.dirty || lastname!.touched)" class="alert alert-danger">

                        <div *ngIf="lastname!.errors?.required">
                            lastname is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName="second_lastname" matInput type="text" placeholder="add second_lastname">
                    </mat-form-field>
                    <div *ngIf="second_lastname!.invalid && (second_lastname!.dirty || second_lastname!.touched)" class="alert alert-danger">

                        <div *ngIf="second_lastname!.errors?.required">
                            second_lastname is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName="name" matInput type="text" placeholder="add name">
                    </mat-form-field>
                    <div *ngIf="name!.invalid && (name!.dirty || name!.touched)" class="alert alert-danger">

                        <div *ngIf="name!.errors?.required">
                            other_name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName="other_name" matInput type="text" placeholder="add other_name">
                    </mat-form-field>
                    <div *ngIf="other_name!.invalid && (other_name!.dirty || other_name!.touched)" class="alert alert-danger">

                        <div *ngIf="other_name!.errors?.required">
                            other_name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName="country" matInput type="text" placeholder="add country">
                    </mat-form-field>
                    <div *ngIf="country!.invalid && (country!.dirty || country!.touched)" class="alert alert-danger">

                        <div *ngIf="country!.errors?.required">
                            country is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName="departament" matInput type="text" placeholder="add departament">
                    </mat-form-field>
                    <div *ngIf="departament!.invalid && (departament!.dirty || departament!.touched)" class="alert alert-danger">

                        <div *ngIf="departament!.errors?.required">
                            departament is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName="type_id" matInput type="text" placeholder="add type_id">
                    </mat-form-field>
                    <div *ngIf="type_id!.invalid && (type_id!.dirty || type_id!.touched)" class="alert alert-danger">

                        <div *ngIf="type_id!.errors?.required">
                            type_id is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName="number_id" matInput type="text" placeholder="add number_id">
                    </mat-form-field>
                    <div *ngIf="number_id!.invalid && (number_id!.dirty || number_id!.touched)" class="alert alert-danger">

                        <div *ngIf="number_id!.errors?.required">
                            number_id is required.
                        </div>
                    </div>
                </div>
            </div>      
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit"> Save </button>
        </mat-card-actions>

    </mat-card>

</form>