<table mat-table [dataSource]="employees" class="mat-elevation-z8 employee-table">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let employee"> {{employee.name | uppercase}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Lastname </th>
      <td mat-cell *matCellDef="let employee"> {{employee.lastname | uppercase}} </td>
  </ng-container>

  <ng-container matColumnDef="identification">
    <th mat-header-cell *matHeaderCellDef> Identifitacion </th>
    <td mat-cell *matCellDef="let employee"> {{employee.number_id | uppercase}} </td>
</ng-container>

<ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td mat-cell *matCellDef="let employee"> {{employee.country | uppercase}} </td>
</ng-container>

<ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let employee"> {{employee.email | uppercase}} </td>
</ng-container>

   <!-- Pending for add more fields. -->

  <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let employee">
          <button mat-raised-button color="primary" [routerLink]="['edit',employee.id]" >Editar</button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>