<form [formGroup]="formcreate" novalidate (ngSubmit)="saveProduct($event)">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Create New Employee </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
         
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Lastname" formControlName="lastname" ngModel pattern="[A-Z ]*">
            <mat-error *ngIf="formcreate.controls['lastname'].dirty">
              lastname  is Only  <strong>Alphanumeric value in uppercase</strong>
            </mat-error>
            <mat-error *ngIf="formcreate.controls['lastname'].hasError('required')">
              lastname is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="second lastname " formControlName="second_lastname" ngModel pattern="[A-Z ]*">
            <mat-error *ngIf="formcreate.controls['second_lastname'].dirty">
              second_lastname  is Only  <strong>Alphanumeric value in uppercase</strong>
            </mat-error>
            <mat-error *ngIf="formcreate.controls['second_lastname'].hasError('required')">
              second_lastname is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="name" ngModel pattern="[A-Z ]*">
            <mat-error *ngIf="formcreate.controls['name'].dirty">
              First name  is Only  <strong>Alphanumeric value in uppercase</strong>
            </mat-error>
            <mat-error *ngIf="formcreate.controls['name'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">     
        <div class="col">
          <mat-form-field class="full-width">
            <input #other_name maxlength="50" matInput placeholder="Other name" formControlName="other_name" pattern="[A-Z ]*">
            <mat-hint align="end">{{other_name.value.length}} / 50</mat-hint>
            <mat-error *ngIf="formcreate.controls['other_name'].dirty">
              Other name  is Only  <strong>Alphanumeric value in uppercase</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">    
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Type of identification" formControlName="type_id">
              <mat-option *ngFor="let type of typesid" [value]="type.name">
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formcreate.controls['country'].hasError('required')">
              type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Number of identification" formControlName="number_id"   >
            <mat-error *ngIf="formcreate.controls['number_id'].dirty">
              Identificacion   is Only  <strong>Alphanumeric value and number. E-873-387 </strong>
            </mat-error>
            <mat-error *ngIf="formcreate.controls['number_id'].hasError('required')">
              number  is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
   
      <div class="row">       
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Country" formControlName="country">
              <mat-option *ngFor="let country of countries" [value]="country.abbreviation">
                {{ country.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formcreate.controls['country'].hasError('required')">
              country is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Department" formControlName="departament">
              <mat-option *ngFor="let departament of departaments" [value]="departament.name">
                {{ departament.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formcreate.controls['departament'].hasError('required')">
              Department is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button  [disabled]="formcreate.invalid" mat-raised-button color="primary" type="submit">Crear</button>
    </mat-card-actions>
  </mat-card>
</form>
